attr==0.3.2
brotli==1.1.0
brotlicffi==1.1.0.0
chardet==5.2.0
colorama==0.4.6
ConfigParser==7.2.0
cryptography==44.0.2
docutils==0.21.2
filelock==3.18.0
Flask==3.1.0
flask_bootstrap==3.3.7.1
h2==4.2.0
HTMLParser==0.0.2
ipython==9.1.0
ipywidgets==8.1.5
jnius==1.1.0
keras==3.9.2
keyring==25.6.0
matplotlib==3.10.1
numpy==2.2.4
pandas==2.2.3
Pillow==11.1.0
protobuf==6.30.2
pyodide==0.0.2
pyOpenSSL==25.0.0
redis==5.2.1
scikit_learn==1.6.1
simplejson==3.20.1
skimage==0.0
Sphinx==8.2.3
tensorflow==2.19.0 # works with Python 3.11
thread==2.0.5
urllib3_secure_extra==0.1.0
WTForms==3.2.1
xmlrpclib==1.0.1
zstandard==0.23.0
