{% extends "base.html" %}

{% block content %}

<div class="column-container">
  <div class="card-container">
    <div class="card label-card">
      <label class="card-label">Generated Grad-CAM Heatmap</label>
      <div class="image-container">
        <img src="{{ url_for('static', filename=heatmap_img) }}" alt="Heatmap Image" class="training-image">
      </div>
      <br/>
    </div>
  </div>

  <div class="navbar-button-container">
    <a href="{{ url_for('home') }}">
      <button class="button nav-button">Home</button>
    </a>
  </div>
</div>

{% endblock %}
