{% extends "base.html" %}

{% block content %}

<div class="card">
  <div class="column-container">
    <div class="homepage-image"></div>

    <div class="column-container">
      <div class="textbox">
        <h4 class="main-title">Agro AI</h4>

        <p class="sub-title">Built for education. Trained by you. One image at a time.</p>
      </div>

      <div class="button-container">
        <a href="{{ url_for('label') }}"><button class="button primary-button">Start Training</button></a>
        <a href="{{ url_for('heatmap') }}"><button class="button primary-button">Generate Heatmap</button></a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
