{% extends "base.html" %}

{% block content %}

<div class="card">
  <div class="row-container">

    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>

    <div class="column-container text-left">
      <h1 class="main-title">Agro AI</h1>

      <p class="sub-title">
        Built for education. Trained by you. One image at a time.
      </p>

      <a href="{{ url_for('label') }}">
        <button class="button primary-button" style="font-size: 1.5rem;">
          Start Training
        </button>
      </a>

      <a href="{{ url_for('heatmap') }}">
        <button class="button primary-button" style="font-size: 1.5rem; margin-top: 1rem;">
          Generate Heatmap
        </button>
      </a>

    </div>

  </div>
</div>

{% endblock %}
