{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/label_format.css') }}">

<div class="column-container">
  <div class="card-container">
    <div class="card result-card">
      <label class="card-label">Intermediate Review</label>
      <div class="row-container">
        <div class="card health-card">
          <h4 class="card-label">Healthy (User): {{ healthNum_user }}</h4>
          <div class="scroll-row">
            {% for i in health_user %}
              <img src="/{{ i }}" class="result-thumbnail" alt="Healthy">
            {% endfor %}
          </div>
        </div>

        <div class="card health-card">
          <h4 class="card-label">Unhealthy (User): {{ blightNum_user }}</h4>
          <div class="scroll-row">
            {% for i in blight_user %}
              <img src="/{{ i }}" class="result-thumbnail" alt="Unhealthy">
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="navbar-button-container">
    <a href="{{ url_for('home') }}">
      <button class="button nav-button">Home</button>
    </a>
    <a href="{{ url_for('label') }}">
      <button class="button nav-button">Keep Training</button>
    </a>
  </div>
</div>

{% endblock %}