{% extends "base.html" %}

{% block content %}

<div class="column-container">
  <div class="card-container">
    <div class="card label-card">
      <label class="card-label">Agro AI 2025</label>
      <div class="image-container">
        <img src="{{ img_path }}" alt="Training Image" class="training-image">
      </div>
      <br/>
      <div class="textbox add-label-textbox">
        <h4 class="main-title" style="font-size: 2rem;  margin: 0;">Training AI</h4>
        <h4 class="sub-title" style="font-size: 1.3rem; margin: 0;">Use the buttons to label an image as "Healthy" or "Unhealthy" {{ curr_idx }}/10</h4>
        <form class="label-form" action="" method="post">
          {{ form.hidden_tag() }}
          {{ form.choice() }}
          {{ form.submit(class_="button primary-button") }}
        </form>
      </div>
    </div>
  </div>
  <div class="navbar-button-container">
    <a href="{{ url_for('home') }}">
      <button class="button nav-button">Home</button>
    </a>
    <a href="{{ url_for('final') }}">
      <button class="button nav-button">Skip to Final Result</button>
    </a>
  </div>
</div>

{% endblock %}